name: Make_Release
on: workflow_dispatch

jobs:
  build:
    name: Build OS
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Build
        env:
             KEY: ${{ secrets.GPG_PRIVATE_KEY }}
             PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
        run: |
         sudo apt-get install xorriso coreutils squashfs-tools git axel sed -y
         wget -nv "http://mirrors.kernel.org/ubuntu/pool/main/c/cd-boot-images-amd64/cd-boot-images-amd64_17_all.deb"
         sudo dpkg -i "cd-boot-images-amd64_17_all.deb"
         rm -rf "./cd-boot-images-amd64_17_all.deb"
         sudo -Hi
         sudo rm -rf /usr/local/lib/android
         sudo rm -rf /usr/share/dotnet
         sudo rm -rf /opt/ghc
         sudo rm -rf "/usr/local/share/boost"
         sudo rm -rf "$AGENT_TOOLSDIRECTORY"
         cd ~/
         git clone -b $GITHUB_REF_NAME "https://github.com/rollingrhinoremix/RRR-builder.git" && cd ./RRR-builder
         chmod +x ./fetch_build ./build/build.sh ./build/switch.sh ./build/minimal.sh
         ./fetch_build
         rm -rf ./ubuntu.iso
         chmod +x ~/RRR-builder/.github/workflows/sign.sh # Is used cause yaml can't handle it
         ~/RRR-builder/.github/workflows/sign.sh
         sudo find . -maxdepth 1 ! \( -name "*.iso*" -o -name '.' -o -name '..' \) -exec sudo rm -rf {} \;
      - uses: actions/upload-artifact@v3.0.0
        with:
          name: "rolling-rhino"
          path: ~/RRR-builder/
          retention-days: 5
          if-no-files-found: error
